﻿@model IEnumerable<SeriesModel>
@{
    ViewData["Title"] = "Netflix Series Tracker";
}

<div class="text-center">
    <h1 class="Test">Your Added Shows</h1>
    <p>See Json Response from the API controller<a href="/api/Tracker/list/1">API</a>.</p>
    <table class="border-top">
    <thead>
        <tr>
            <th colspan="3">
            Series and Episodes watched
            </th>
        </tr>
    </thead>
        <tbody class"box-shadow[b-46rb7or9g8]">
            @foreach(var record in Model)
            {
                @using (Html.BeginForm("Update", "Home", FormMethod.Post))
                {
                    <tr>
                        <th>
                            Show Name
                        </th>
                        <th>
                            Imdb ID
                        </th>
                        <th>
                            Imdb Rank
                        </th>
                    </tr>
                <tr>
                    <td>
                        <input asp-for="@record.FullName" class="form-control" aria-required="true" />
                            @Html.Hidden("UserId",record.UserId)
                    </td>
                    <td>
                        <input asp-for="@record.ImdbId" class="form-control" aria-required="true" />
                     </td>
                    <td>
                        <input asp-for="@record.ImdbRank" class="form-control" aria-required="true" />
                    </td>
                        <td>
                            <input asp-for="@record.ImageURL" type="hidden" class="form-control" aria-required="true" />
                            <img src="@record.ImageURL" width="120" height="120">
                            <br>
                            <!--<a href="/Home/delete/0/@record.UserId/@record.Id">Delete Series</a>-->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-route-id="@record.UserId" asp-route-seriesid="@record.Id" aps asp-action="Delete">Delete Series</a>
                        </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Episode Name
                    </td>
            
                    <td>
                        Watched
                    </td>
                </tr>
                        @foreach( var episode in record.Episodes)
                        {
                            <tr>
                                <td colspan="2">
                                <input asp-for="@episode.EpisodeName" class="form-control" aria-required="true" />
                                @Html.Hidden("EpsisodeID",episode.EpisodeId)
                                </td>
                             <td colspan="2">
                                @Html.CheckBox("Watched",@episode.Watched)
                                
                                </td>
                            </tr>
                        }
                        <tr>
                        <td colspan="4">
                            <div>
                                <button id="update-submit" type="submit" class="w-100 btn btn-sm btn-primary">Update Watched </button>
                            </div>
                        </td>
                        </tr>              
                }
             
            }
     </tbody>

</table>
</div>

